{% extends "index.html" %}
{% block content %}
<style>
    body {
    padding-top: 70px; /* Adjust this value based on the height of your navbar */
    }
    .authpic {
        width: 90px;
        height: 90px;
        border-radius: 10px;
    }
</style>
<section>
    <div>
        <div class="container">
            <h4 style="color: black;">Savannah</h4>
            <p class="display-6" style="color: black;">New Web Developer</p>
            <p style="color: black;">A little bit about me. I am a 23 year old from South Africa.
               I am new to software development and this is my first tutorial to hopefully help some of you guys wanting to learn too.
               I hope you enjoy my teaching style and learn a lot from this. I know it's very basic but we have to start somewhere, 
               hopefully sometime soon in the future you'll be learning some pretty cool stuff from me. 
            </p>
        </div>
    </div>
    <div class="container">
        <img src="https://u7.uidownload.com/vector/868/417/vector-female-developer-eps-svg.jpg" alt="---" class="authpic">
        
    </div>
</section>

{% endblock content %}